<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>


    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="~/Content/css/nifty.min.css" rel="stylesheet" />
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="~/Content/css/demo/nifty-demo-icons.min.css" rel="stylesheet" />
    <!--Demo [ DEMONSTRATION ]-->
    <link href="~/Content/css/demo/nifty-demo.min.css" rel="stylesheet" />

    <link href="~/Content/css/themes/type-c/theme-ocean.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/themify-icons/themify-icons.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/magic-check/css/magic-check.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/pace/pace.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/extensions/Responsive/css/responsive.dataTables.min.css" rel="stylesheet" />

    @*<link href="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Content/js/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="~/Content/js/nifty.min.js"></script>

    <script src="~/Content/plugins/pace/pace.min.js"></script>
    <script src="~/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

    @*<script src="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>*@
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    @*<script src="~/Content/plugins/form-validation.js"></script>*@

</head>
<body>

    @RenderBody()

</body>
</html>